.footer_container {
    background-color: #181818;
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    min-width: 750px;
    width: 100%;
    padding: 15px;
    align-items: center;
    border-top: 1px solid rgb(41, 41, 41);
}

.footer {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    min-width: 750px;
    justify-content: space-between;
}

.footer_left {
    flex: 0.25;
    display: flex;
    color: white;
    max-width: 300px;
    align-items: center;
}

.footer_songinfo > h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.footer_songinfo > p {
    font-size: 11px;
    font-weight: 400;
    color: rgb(175, 175, 175);
    line-height: 16px;
}

.footer_albumlogo {
    height: 60px;
    margin-right: 20px;
    max-width: 300px;
}

.footer_center {
    flex: 0.4;
    display: flex;
    color: #999999;
    align-items: center;
    justify-content: space-between;
    max-width: 210px;
}

.footer_right {
    flex: 0.35;
    display: flex;
    color: #999999;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
}

.footer_right > div {
    align-items: center;
}

.footer_icon:hover {
    transition: transform 0.2s ease-in-out;
    color: white;
}

.play_icon:hover {
    transform: scale(1.1);
}

.slideHover {
    color:white !important;
}

.slideHover:hover {
    color: green !important;
}

.volume:hover ~ .slideHoverdiv > .slideHover {
    color: green !important;
}
